# IMDB 영화평 감성분석(이진분류)

In [2]:
import numpy as np
import pandas as pd
from google.colab import files
up = files.upload()

In [3]:
df = pd.read_csv('labeledTrainData.tsv', sep='\t')
df.head(3)

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...

In [4]:
df = pd.read_csv('labeledTrainData.tsv', sep='\t', quoting=3)   # 3: QUOTE_NONE
df.head(3)

         id  sentiment                                             review
0  "5814_8"          1  "With all this stuff going down at the moment ...
1  "2381_9"          1  "\"The Classic War of the Worlds\" by Timothy ...
2  "7759_3"          0  "The film starts with a manager (Nicholas Bell...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         25000 non-null  object
 1   sentiment  25000 non-null  int64
 2   review     25000 non-null  object
dtypes: int64(1), object(2)
memory usage: 586.1+ KB

In [6]:
df.review[0][:1000]

'"With all this stuff going down at the moment with MJ i\'ve started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ\'s feeling towards the press and also the obvious message of drugs are bad m\'kay.<br /><br />Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.<br /><br />The actual feature film bit when it finally sta'

- 텍스트 전처리

In [7]:
# <br /> 태그는 공백으로 변환
df.review = df.review.str.replace('<br />',' ')

In [8]:
# 구둣점, 숫자 제거 - 영문자가 아닌 글자는 공백으로 변환
# 데이터프레임의 str method는 정규표현식을 지원함
df.review = df.review.str.replace('[^A-Za-z]', ' ').str.strip()
df.review[0][:1000]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

'With all this stuff going down at the moment with MJ i ve started listening to his music  watching the odd documentary here and there  watched The Wiz and watched Moonwalker again  Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent  Moonwalker is part biography  part feature film which i remember going to see at the cinema when it was originally released  Some of it has subtle messages about MJ s feeling towards the press and also the obvious message of drugs are bad m kay   Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring  Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him   The actual feature film bit when it finally starts is only on for   '

- Train/Test dataset 분리

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.review, df.sentiment, stratify=df.sentiment, random_state=2022
)
y_train.value_counts()

0    9375
1    9375
Name: sentiment, dtype: int64

- CountVectorizer로 변환

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cvect = CountVectorizer(stop_words='english')

In [11]:
cvect.fit(X_train)
X_train_cv = cvect.transform(X_train)
X_train_cv.shape

(18750, 65213)

In [12]:
# test dataset은 train dataset을 변환한 Vectorizer로 변환해야 함
X_test_cv = cvect.transform(X_test)
X_test_cv.shape

(6250, 65213)

- 분류기: Naive Bayes

In [13]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [14]:
%time nb.fit(X_train_cv, y_train)

CPU times: user 37.9 ms, sys: 117 µs, total: 38 ms
Wall time: 40.8 ms

MultinomialNB()

In [15]:
nb.score(X_test_cv, y_test)

0.85504

- ngram_range = (1,2)

In [16]:
cvect2 = CountVectorizer(ngram_range=(1,2), stop_words='english')
cvect2.fit(X_train)
%time X_train_cv2 = cvect2.transform(X_train)
print(X_train_cv2.shape)

CPU times: user 5.67 s, sys: 17.4 ms, total: 5.68 s
Wall time: 5.69 s
(18750, 1386558)

In [18]:
X_test_cv2 = cvect2.transform(X_test)
X_test_cv2.shape

(6250, 1386558)

In [19]:
nb2 = MultinomialNB()
nb2.fit(X_train_cv2, y_train)

MultinomialNB()

In [20]:
nb2.score(X_test_cv2, y_test)

0.8672

- 모델 저장하고 불러오기

In [21]:
import joblib

In [22]:
joblib.dump(cvect2, 'imdb_cvect12.pkl')
joblib.dump(nb2, 'imdb_nb2.pkl')

['imdb_nb2.pkl']

In [23]:
!ls -l

total 114376
-rw-r--r-- 1 root root 39184702 Apr 28 02:39 imdb_cvect12.pkl
-rw-r--r-- 1 root root 44370573 Apr 28 02:39 imdb_nb2.pkl
-rw-r--r-- 1 root root 33556378 Apr 28 01:34 labeledTrainData.tsv
drwxr-xr-x 1 root root     4096 Apr 25 13:46 sample_data

In [24]:
new_cvect = joblib.load('imdb_cvect12.pkl')
new_nb = joblib.load('imdb_nb2.pkl')

- 실제 데이터로 검증

In [25]:
review = '''
Robert P is a terrible Batman. Absolutely no Bat-charisma at all. 
The Riddler character is a complete bore! I hated all of this film. 
I certainly do not understand the good reviews. 
It's not close to the Dark Knight caliber. Please do not make a sequel.
'''

In [26]:
# 텍스트 전처리
import re
review = re.sub('[^A-Za-z]', ' ', review).strip()

In [28]:
# feature 변환
review_cv = new_cvect.transform([review])
review_cv.shape

(1, 1386558)

In [29]:
new_nb.predict(review_cv)

array([0])